/* Aseguramos que el body cubra toda la pantalla */
body {
  margin: 0; /* Elimina los márgenes por defecto del navegador */
  padding: 0; /* Elimina padding */
  min-height: 100vh; /* Cubre toda la altura de la pantalla */
  background-color: -webkit-linear-gradient(96deg, #f6f6f6,#f8f7f7,#ffffff);background: linear-gradient(96deg, #cda3a8,#ffd6db,#dfa9b0);
  /* Fondo del body */
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenedor */
  align-items: center; /* Centra verticalmente el contenedor */
}

/* Estilo para el dashboard-container */
.dashboard-container {
  background-color: #ebebeb7c; /* Fondo del contenedor */
  text-align: center;
  padding: 30px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  width: 80%; /* Ancho relativo */
  max-width: 600px; /* Ancho máximo */
}

/* Botones dentro del dashboard-container */
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaciado entre botones */
}

.dashboard-container .button-container button {
  background-color: #c9449a; /* Fondo del botón */
  color: #ffffff; /* Texto blanco */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px 20px; /* Tamaño interno */
  font-size: 16px; /* Tamaño del texto */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor tipo mano */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

/* Efecto hover en los botones */
.dashboard-container .button-container button:hover {
  background-color: #560c63; /* Color más oscuro al pasar el mouse */
}
